@model IEnumerable<UploadViewModel>
@using Microsoft.AspNetCore.Localization
@inject IViewLocalizer localizer

@{
    var reqCulture = Context.Features.Get<IRequestCultureFeature>();
    var culture = reqCulture.RequestCulture.Culture.Name;
    bool isArabic = culture == "ar-SA";
    ViewData["Title"] = localizer["Title"];
}

<h1>@localizer["Title"]</h1>
<hr />
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card mb-3 col-12 pl-0">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        @if (item.ContentType.ToLower().StartsWith("image"))
                        {
                            <img class="lazy w-100 h-100" data-src="/Uploads/@item.FileName">
                        }
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title">@item.OriginalFileName</h5>
                                </div>
                                <div class="col-3">
                                    <strong>@localizer["Size"]: </strong>
                                    @{
                                        var size = item.Size / 1024; //KB
                                        if (size < 1024)
                                        {
                                            <span>@Math.Floor(size) Kb</span>
                                        }
                                        else
                                        {
                                            <span>@(Math.Floor(size / 1024)) Mb</span>
                                        }
                                    }
                                </div>
                                <div class="col-3">
                                    <strong>@localizer["Downloads"]: @item.DownloadCount</strong>
                                </div>
                            </div>
                            <p class="card-text"><small class="text-muted">@item.CreationDate</small></p>
                            <br />

                            <div class="@(isArabic? "text-left": "text-right")">
                                <a asp-controller="Uploads" asp-action="Download" asp-route-id="@item.UploadId" class="btn btn-outline-primary">@localizer["Download"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-12 text-center mt-5 mb-5">
        <div>
            @if (ViewBag.CurrentPage - 1 > 0)
            {
                <a href="/Uploads/Browse/?RequiredPage=@(ViewBag.CurrentPage - 1)" class="btn btn-outline-primary btn-lg">Prev</a>
            }
            @if (ViewBag.CurrentPage + 1 <= ViewBag.PagesCount)
            {
                <a href="/Uploads/Browse/?RequiredPage=@(ViewBag.CurrentPage + 1)" class="btn btn-outline-primary btn-lg">Next</a>
            }
        </div>
    </div>
</div>
